@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  background-image: linear-gradient(300deg, #dddde2 0%, #aaf7af 80%);
}
h3 {
  margin: 10px;
}
.container {
  text-align: center;
  width: 51%;
  margin: 90px auto;
  min-height: 350px;
  position: relative;
  box-shadow: 1px 2px 1px 4px rgba(0, 0, 0, 0.3);
}
img {
  margin-top: 17px;
}

.part-number {
  padding: 10px;
  border-radius: 10px;
}
#cylinder-options {
  border-radius: 7px;
  outline: none;
}
.agent-weight,
.cylinder-weight,
.gross-weight,
.fill-density,
.date {
  padding: 10px;
}
#cylinder-weight,
#agent-weight {
  outline: none;
  border-radius: 7px;
}
.date {
  margin: 10px;
}
.submit {
  padding: 10px;
  outline: none;
  border-radius: 7px;
  margin: 20px;
  background-color: rgb(34, 156, 99);
  cursor: pointer;
  color: #fff;
}
.submit:hover {
  background-color: rgb(62, 110, 86);
}

.reset {
  padding: 10px;
  outline: none;
  border-radius: 7px;
  margin: 20px;
  background-color: rgb(243, 69, 46);
  cursor: pointer;
  color: #fff;
}
.reset:hover {
  background-color: rgb(248, 93, 54);
}

@media (max-width: 600px) {
  .container {
    height: 30%;
  }
  .container {
    width: 90%;
    font-size: 0.9rem;
  }
  .reset,
  .submit {
    padding: 4px;
    font-size: 11px;
  }
  .submit {
    margin-right: 5px;
  }
}
